.peer[open] ~ .peer-open\:grid-rows-\[1fr\] {
    grid-template-rows: 1fr;
}

.duration-\[300\] {
    transition-duration: 300;
}

.transition-\[grid-template-rows\] {
    transition-property: grid-template-rows;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.grid-rows-\[0fr\] {
    grid-template-rows: 0fr;
}

.group[open] .group-open\:rotate-90 {
    transform: rotate(90deg);
}

.accordion-item {
    background-color: #fff;
}

.accordion-item details {
    background-color: #fff;
}
.accordion-item details:hover {
    background-color: rgb(226 232 240);
}
